%tr{:id => "client_#{client.id}"}
  %td{:class => 'first'}
    = client.id
  %td
    = client.name
  %td
    = client.access_key
  %td
    = client.s3_bucket_name
  %td
    = client.notification_url
  %td{:class => "last"}
    / Area for action links
    %a{:href => "javascript:void(0)", :onclick => "showClientVideos(#{client.id})", :class => "video"} Videos
    |
    %a{:href => "javascript:void(0)", :onclick => "showClientProfiles(#{client.id})", :class => "show"} Profiles
    |
    %a{:href => "javascript:void(0)", :onclick => "editClient(#{client.id})", :class => "edit"} Edit 
    | 
    %a{:href => "javascript:void(0)", :onclick => "deleteClient(#{client.id})", :class => "remove"} Delete